@use "../../scss/" as *;
@import 'normalize.css';
@import 'boxicons/css/boxicons.min.css';

:root {
    --font-family: 'ProximaNova', sans-serif;
    --border-radius: 10px;
    --padding-page: 0 2rem;
    --max-width: 1260px;

    --main-color: #00ff00;
    --hover-color: #00841a;

    --white: #fff;
    --black: #000;
    --grey: #2b2b2b;
}

.light-theme {
    --text-color: #000;
    --background-color: #ffffff;
    --overlay: rgba(255, 255, 255, 0.6);
    --border-color: #696969;
    --box-shadow: rgba(79, 79, 87, 0.2) 0px 7px 29px 0px;
    --reverse-color: #000000;

}

.dark-theme {
    --text-color: #fff;
    --background-color: #000000;
    --overlay: rgba(0, 0, 0, 0.6);
    --border-color: #b2b2b2;
    --box-shadow: rgba(211, 211, 226, 0.2) 0px 7px 29px 0px;
    --reverse-color: #ffffff;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
}

html {
    font-size: 62.5%;
    background-color: var(--background-color);
}

body {
    font-size: 1.5rem;
    font-weight: 200;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.5;
    text-rendering: optimizeLegibility;
    color: var(--text-color);
    background-color: var(--background-color);
}

button,
input,
[tabIndex] {
    outline: none;
    border: none;
    background-color: unset;
}

a[href] {
    color: var(--text-color);
    text-decoration: none;
}

ul {
    list-style: none;
}

img {
    max-width: 100%;
}

iframe {
    border: 0;
}

.swiper-slide {
    width: 15%;

    @include tablet() {
        width: 30%;
    }

    @include mobile() {
        width: 40%;
    }
}