@use "../../../scss/" as *;

.footer {
    position: relative;
    padding: 4rem 2rem;
    background-position: top;
    background-size: cover;
    background-repeat: no-repeat;

    .content {
        max-width: var(--max-width);
        margin: auto;
        color: rgb(236, 236, 236);

        .logo {
            @include flex(center, center);
            margin-bottom: 3rem;
        }

        .menus {
            display: grid;
            grid-template-columns: repeat(4, 1fr);

            @include mobile {
                grid-template-columns: repeat(2, 1fr);
            }
        }

        .menu {
            @include flex(flex-start, flex-start);
            flex-direction: column;
            margin-top: 1rem;
            margin-left: 50px;
            
            a {
                font-weight: 400;
                font-size: 1.2rem;
                color: rgb(189, 189, 189);
            }

            &>*~* {
                margin-top: 1rem;
            }
        }
    }
}