@use "../../scss/" as *;

.video {
    position: relative;
    overflow: hidden;
    padding-bottom: 35%;
    width: 100rem;

    @include tablet() {
        padding-bottom: 56.25%;
    }

    @include mobile() {
        padding-bottom: 56.25%;
    }


    iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
}